<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% load static %}
    {% block head %}{% endblock %}

</head>
<body>

    <!-- Nav Bar -->
    <nav class="navbar {% if not request.user.is_authenticated %} navbar-expand-lg {% endif %} navbar-light bg-warning">
        <a class="navbar-brand" href="/">Clinic</a>
        {% if not request.user.is_authenticated %}
        {% else %}
        <form action="" class="form-inline">
            <span class="mr-4" >{{ request.user.get_full_name|title }}</span>

            {% if request.user.is_patient %}
            <a href="{% url 'doctor_list' %}" class="btn btn-outline-dark mr-1">All Doctors</a>
            {% endif %}
            
            {% if request.user.is_doctor %}
            <a href="{% url 'appointment:appointment_list' %}" class="btn btn-outline-dark mr-1">All Appointment</a>
            {% endif %}

            <a href="{% url 'logout' %}" class="btn btn-outline-dark mr-1" >Sign Out</a>
        </form>

        {% endif %}
    </nav>
    {% block content %}{% endblock %}
    <!-- End Nav Bar -->
    <!-- Footer -->
    <footer class="text-center mt-5 mb-5">
        &copy;clinic@mail.com
    </footer>
    <!-- END Footer -->
</body>
</html>