{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Book Appointment{% endblock title %}

{% block content %}

<style type="text/css">
    .create-form {
          width: 100%;
          max-width: 100%;
          padding: 15px;
          margin: auto;
        }
  
        .submit-button{
            max-width: 200px;
        }
  </style>
  
  <div class="container">
      <div class="row">
          <div class="col-lg-7 offset-lg-1">
              <form class="create-form"  method="POST" enctype="multipart/form-data">{% csrf_token %}
  
                <!-- {{ form }}    -->
                {% bootstrap_form form %}
  
                <!-- Submit btn -->
                <button class="submit-button btn btn-lg btn-warning btn-block" type="submit">BOOK Appointment</button>
              </form>	
          </div>
      </div>
  </div>
  

{% endblock %}