{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

{% if not request.user.is_authenticated %}

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        {% bootstrap_form_errors form %}
                        {% bootstrap_label "Email" %}
                        {% bootstrap_field form.username show_label=False placeholder="Email" %}
                        {% bootstrap_field form.password %}
                        <button class="btn btn-warning btn-block">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
